# Fincomun Enrichment

> Carlos Alvarez Aparicio

> 15/06/2022

# IMPORT PACKAGES

In [41]:
import pandas as pd
import gcsfs
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from hocelot.dlutils import get_col_feats,open
from datetime import datetime
sns.set_style("whitegrid")
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('display.width', 400)
pd.set_option('max_colwidth',400)
pd.set_option('display.float_format', lambda x: '%.4f' % x)
from hocelot.dlmetadata.hocelot_types import HOCELOT_DTYPES, HOCELOT_FTYPES
from hocelot.dlmetadata.log_transformable_features import LOG_TRANSFORMABLE_1, LOG_TRANSFORMABLE_2
from hocelot.rdt.models import RDTransformer
import joblib
import json

In [42]:
import os
import pickle
import joblib
import re
import string
import subprocess
import random
import numpy as np
import warnings
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

import lightgbm
from xgboost import XGBClassifier
from multiprocessing import cpu_count
from sklearn.feature_selection import RFE
from sklearn.metrics import roc_auc_score, roc_curve

from hocelot.dlutils import get_col_feats, read_raw_data
from hocelot.dlutils import open as open_dlutils # open for saving PKL
#from hocelot.dlutils.miscellaneous import RANDOM_SEED, hocelot_colors
from hocelot.rdt import RDTransformer
from hocelot.dlmodels import XGBClassifierSelector
from hocelot.dlplots import ModelResultsGrapher, ModelExplainabilityGrapher, DefaultGrapher
#from hocelot.dlplots.classification.general_plots import plot_target_stability
from hocelot.dlmetadata import HOCELOT_DTYPES, HOCELOT_FTYPES, LOG_TRANSFORMABLE_1
from hocelot.dlutils.raw_data_reader import read_raw_data

from hocelot.dlutils import open

plt.style.use('ggplot')
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 100)
pd.set_option('display.max_rows', 100)

HOCELOT_YELLOW = '#FDD226'
HOCELOT_BLACK = '#000000'
HOCELOT_RED = '#FF5753'
HOCELOT_BLUE = '#2B3252'
HOCELOT_WHITE = '#FFFFFF'

%matplotlib inline
warnings.filterwarnings('ignore')

# LOAD DATASET

In [43]:
data_clientes_con_target = pd.read_csv('gs://hocelot_mx_analytics/mexico/progress/mx-00007-Came/data_Came_pre_enrich_con_target_v0.csv',sep=';',index_col=False)
print(data_clientes_con_target.shape)
data_clientes_con_target.head()

(13262, 17)

,NoCliente,Nombre,FechaNacimiento,CURP,Calle,NumExt,Colonia,Ciudad,Estado,Email,Telefono,pk,Tasa_medio,Plazo_medio,Monto_medio,EstadoCivil,Default_90_dias_pers
0,48993,VIANNEY CHABLE MORA,2002-08-12,CAMV020812MMCHRNA2,MANUEL ALTAMIRANO,2,ARTESANOS,ESTADO DE MEXICO,ESTADO DE MEXICO,vianneychable001@gmail.com,5588825117,0,106.8000,12.0000,21600.0000,UNIÓN LIBRE,1
1,141508,FRANCISCO LOPEZ ROQUE,1957-10-21,LORF571021HCLPQR04,HIDALGO,1701,VICTORIA,NUEVO LAREDO,TAMAULIPAS,franciscolopezroque@gmail.com,8677414704,1,120.0000,12.0000,21440.0000,SOLTERO,0
2,172718,MA DEL PILAR FLORES SERAFIN,1953-10-12,FOSP531012MMCLRL00,CLL LEONA VICARIO,34,SAN VICENTE CHICOLOAPAN DE JUÁREZ CENTRO,CHICOLOAPAN,ESTADO DE MÉXICO,jorgemilan1971@gmail.com,5585041612,2,106.8000,7.0000,22050.0000,VIUDO,0
3,274775,EDWIN FERNANDO DEL CANTO FLORES,1991-08-21,CAFE910821HMCNLD08,AV PROMESAS,36,TEPETITLAN,ESTADO DE MEXICO,ESTADO DE MEXICO,edwin_delcanto@hotmail.com,5525527792,3,90.0000,15.0000,51380.0000,SOLTERO,0
4,365550,JUDIHT CORTES RAMIREZ,1983-10-26,CORJ831026MOCRMD09,C JUSTO SIERRA,402,TEPEYAC,VILLA DE TUTUTEPEC,OAXACA,cortesjudiht18@gmail.com,9541658986,4,106.8000,12.0000,26440.0000,CASADO,0

In [44]:
data_clientes_con_target['pk'] = data_clientes_con_target['pk'].astype(str)

## CARGAMOS EL FICHERO YA ENRIQUECIDO

In [45]:
with open('gs://hocelot_mx_analytics/mexico/progress/mx-00007-Came/response_Came_pre_enrich_v0.json') as file:
    data = json.load(file)
df_enriched=pd.json_normalize(data)

In [46]:
df_enriched=df_enriched.dropna(axis=1, how='all')
print(df_enriched.shape)
df_enriched.head()

(13262, 139)

,pk,personalData.identityDocument,personalData.fullname,personalData.gender,personalData.birthdate,personalData.age,personalData.email,personalData.phone,emailValidation.valid,emailValidation.email,emailValidation.domain,emailValidation.syntaxError,emailValidation.domainError,emailValidation.provider,emailValidation.disposable,emailValidation.freemail,emailVerification.verified,emailVerification.status,emailVerification.deferred,emailVerification.catchAll,phoneValidation.valid,phoneValidation.type,phoneValidation.internationalNumber,phoneValidation.localNumber,phoneValidation.country,phoneValidation.countryCode,phoneValidation.mobile,phoneVerification.verified,phoneVerification.status,phoneVerification.ported,phoneVerification.roaming,phoneVerification.imsi,phoneVerification.mcc,phoneVerification.mnc,phoneVerification.msin,phoneVerification.msc,phoneVerification.currentNetwork,phoneVerification.originNetwork,phoneVerification.portedNetwork,geoCheck.score,geoCheck.parsedAddress.level1,geoCheck.parsedAddress.level2,geoCheck.parsedAddress.sublevel3,geoCheck.parsedAddress.zipCode,geoCheck.parsedAddress.roadName,geoCheck.parsedAddress.roadNumber,geoCheck.parsedAddress.latitude,geoCheck.parsedAddress.longitude,geoCheck.parsedAddress.additionalData,geoCheck.cvegeos,economics.id,economics.rent,economics.typeTable,economics.personalData.dependency,economics.personalData.work,economics.personalData.possession,economics.personalData.levelStudy,economics.personalData.maritalStatus,economics.personalData.ageInterval,economics.personalData.ageIntervalMin,economics.personalData.ageIntervalMax,economics.personalData.probCouple,economics.personalData.probDegree,economics.personalData.probDivorced,economics.personalData.probDoctorate,economics.personalData.gender,economics.personalData.bossEducation,economics.personalData.probHighschool,economics.personalData.probMarried,economics.personalData.probMasters,economics.personalData.probNormal,economics.personalData.probNpLevels,economics.personalData.probNpMaritals,economics.personalData.probPreschool,economics.personalData.probPrimary,economics.personalData.probProfessional,economics.personalData.probSecondary,economics.personalData.probSeparated,economics.personalData.probSingle,economics.personalData.probWidower,economics.personalData.probWithoutStudies,economics.familyData.numberOfBabies,economics.familyData.numberOfChild,economics.familyData.numberOfDep,economics.familyData.numberOfDepYoung,economics.familyData.numberOfIndep,economics.familyData.numberOfIndepYoung,economics.familyData.numberOfParents,economics.familyData.numberOfYoungs,economics.familyData.typeMember,economics.housingData.car,economics.housingData.numberHouseholdCars,economics.housingData.numberHouseholdMembers,economics.housingData.numberHouseholdMembersNoOutliers,economics.housingData.numberHouseholdPickups,economics.housingData.numberHouseholdVans,economics.housingData.numberIncandescentLights,economics.housingData.numberLowConsumptionLights,economics.housingData.numberRooms,economics.housingData.bathShower,economics.housingData.bathShowerToilet,economics.housingData.housingMaterial,economics.housingData.housingType,economics.housingData.internetConnection,economics.housingData.locationSize,economics.housingData.codEntity,economics.housingData.codMunicipality,economics.housingData.codLocality,economics.housingData.latitude,economics.housingData.longitude,economics.householdEconomy.probSaving,economics.householdEconomy.probExpenseAlcoholAndTobacco,economics.householdEconomy.probExpenseClothesAndFootwear,economics.householdEconomy.probExpenseEducation,economics.householdEconomy.probExpenseFinancial,economics.householdEconomy.probExpenseFood,economics.householdEconomy.probExpenseHealthCare,economics.householdEconomy.probExpenseHealthInsurance,economics.householdEconomy.probExpenseHomeRepair,economics.householdEconomy.probExpenseHousesAndSupplies,economics.householdEconomy.probExpenseLeisure,economics.householdEconomy.probExpenseOthers,economics.householdEconomy.probExpensePurchaseExp,economics.householdEconomy.probExpenseRestaurants,economics.householdEconomy.probExpenseTelco,economics.householdEconomy.probExpenseTransport,economics.householdEconomy.probExpenses,economics.householdEconomy.incomeByRanges,economics.householdEconomy.homeNetIncome,economics.householdEconomy.effortRate,economics.householdEconomy.newEffortRate,economics.householdEconomy.povertyThreshold,economics.householdEconomy.deposit,economics.householdEconomy.sel,economics.modelV1IndividualIncome,economics.modelV2IndividualIncome,economics.rawIndividualIncome,economics.individualIncome,geoCheck.parsedAddress.roadType
0,0,CAMV020812MMCHRNA2,VIANNEY CHABLE MORA,F,2002-08-12,20,vianneychable001@gmail.com,525588825117,True,vianneychable001@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,False,True,unknown,+525588825117,55 8882 5117,Mexico,MX,False,False,fixed-line,True,False,,,,,LANDLINE,CABLEMAS TELECOM,BESTPHONE s.a. de c.v,CABLEMAS TELECOM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,CAFE910821HMCNLD08,EDWIN FERNANDO DEL CANTO FLORES,M,1991-08-21,31,edwin_delcanto@hotmail.com,525525527792,True,edwin_delcanto@hotmail.com,hotmail.com,False,False,hotmail.com,False,True,True,ok,False,False,True,unknown,+525525527792,55 2552 7792,Mexico,MX,False,True,ok,False,False,3340300000,334,030,,,movistar (Pegaso PCS),movistar (Pegaso PCS),,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,LORF571021HCLPQR04,FRANCISCO LOPEZ ROQUE,M,1957-10-21,65,franciscolopezroque@gmail.com,528677414704,True,franciscolopezroque@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,False,True,unknown,+528677414704,867 741 4704,Mexico,MX,False,True,ok,False,False,3340208000,334,020,,181363,Telcel (Radiomovil Dipsa S.A.),Telcel (Radiomovil Dipsa S.A.),,4.0000,Tamaulipas,Nuevo Laredo,Nuevo Laredo Centro,88000,hidalgo,1701,27.4952,-99.4980,"[{'key': 'roadName', 'value': 'hidalgo'}, {'key': 'zipCode', 'value': '88000'}, {'key': 'longitude', 'value': '-99.49803299999999'}, {'key': 'entityName', 'value': 'Tamaulipas'}, {'key': 'entityCode', 'value': '28'}, {'key': 'localityName', 'value': 'Nuevo Laredo Centro'}, {'key': 'entityShort', 'value': 'TS'}, {'key': 'municipalityCode', 'value': '027'}, {'key': 'roadNumber', 'value': '1701'}...",[280270001110A028],6987.0000,800.0000,4.0000,False,0.8889,2.0000,2.0000,2.0000,56-65,56.0000,65.0000,0.0000,0.0000,0.0000,0.0000,M,3.0000,0.0000,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.5714,0.0000,0.2000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,3.0000,2.0000,0.0000,0.0000,2.0000,2.0000,3.0000,0.0000,0.0000,2.0000,1.0000,2.0000,4.0000,28,027,0001,27.4952,-99.4980,0.5697,0.0000,0.0187,0.0000,0.0000,0.3886,0.0708,0.0000,0.0000,0.1392,0.0000,0.0000,0.0000,0.0000,0.0227,0.0762,0.4303,1.0000,7334.1267,0.0815,0.1654,3.0116,0.0000,1.0000,14664.2400,20491.7480,15896.6349,15896.6349,NaN
3,2,FOSP531012MMCLRL00,MA DEL PILAR FLORES SERAFIN,F,1953-10-12,69,jorgemilan1971@gmail.com,525585041612,True,jorgemilan1971@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,False,True,unknown,+525585041612,55 8504 1612,Mexico,MX,False,True,ok,True,False,3341400000,334,140,,,Altan,AT&T Mexico (Nextel & Iusacell),Altan,5.0000,México,Chimalhuacán,Chimalhuacán,56338,cll leona vicario,34,NaN,NaN,"[{'key': 'municipalityCode', 'value': '031'}, {'key': 'municipalityName', 'value': 'Chimalhuacán'}, {'key': 'roadName', 'value': 'cll leona vicario'}, {'key': 'roadNumber', 'value': '34'}, {'key': 'zipCode', 'value': '56338'}, {'key': 'entityShort', 'value': 'MC'}, {'key': 'entityName', 'value': 'México'}, {'key': 'localityName', 'value': 'Chimalhuacán'}, {'key': 'entityCode', 'value': '15'}]","[1503100011463025, 1503100011463015]",7865.0000,1450.0000,1.0000,True,0.2000,2.0000,2.0000,5.0000,>65,66.0000,200.0000,0.1111,0.0000,0.0000,0.0000,F,3.0000,0.0000,0.2222,0.0000,0.0000,0.0000,0.0000,0.0000,0.5556,0.0000,0.0000,0.1111,0.0000,0.5556,0.4444,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,3.0000,1.0000,0.0000,0.0000,1.0000,4.0000,3.0000,0.0000,0.0000,2.0000,1.0000,2.0000,1.0000,15,031,0001,NaN,NaN,0.3137,0.0000,0.0027,0.0000,0.0000,0.3989,0.0656,0.0000,0.0000,0.2197,0.0000,0.0000,0.0000,0.0080,0.0173,0.0271,0.6863,1.0000,5398.4983,0.1631,0.4603,1.7233,0.0000,2.0000,12720.1900,16452.2910,12602.8606,12602.8606,NaN
4,5,MAMS811012HGRRRR00,SERAFIN MARTINES MORENO,M,1981-10-12,41,serafinmartinezmoreno@gmail.com,525625793595,True,serafinmartinezmoreno@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,False,True,unknown,+525625793595,56 2579 3595,Mexico,MX,False,True,ok,False,False,3340500000,334,050,,,AT&T Mexico (Nextel & Iusacell),AT&T Mexico (Nextel & Iusacell),,4.0000,México,Valle de Chalco Solidaridad,Valle de Chalco Solidaridad,56619,c poniente,21,19.3070,-98.9424,"[{'key': 'longitude', 'value': '-98.94243'}, {'key': 'zipCode', 'value': '56619'}, {'key': 'entityShort', 'value': 'MC'}, {'key': 'square', 'value': '55'}, {'key': 'localityName', 'value': 'Valle de Chalco Solidaridad'}, {'key': 'latitude', 'value': '19.30696'}, {'key': 'entityCode', 'value': '15'}, {'key': 'municipalityCode', 'value': '122'}, {'key': 'municipalityName', 'value': 'Valle de Cha...",[1512200010688028],6059.0000,1100.0000,4.0000,False,1.0000,2.0000,3.0000,2.0000,36-45,36.0000,45.0000,0.3167,0.0000,0.0000,0.0000,M,4.0000,0.0000,0.6000,0.0000,0.0000,0.0000,0.0000,0.0000,0.4000,0.0000,0.3667,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,0.0000,2.0000,0.0000,2.0000,1.0000,1.0000,0.0000,0.0000,4.0000,5.0000,0.0000,0.0000,1.0000,3.0000,4.0000,0.0000,0.0000,2.0000,1.0000,2.0000,4.0000,15,122,0001,19.3070,-98.9424,0.3434,0.0000,0.0331,0.0377,0.0000,0.3728,0.0617,0.0000,0.0000,0.0998,0.0000,0.0000,0.0000,0.0311,0.0203,0.1364,0.6566,1.0000,9785.7150,0.0595,0.3365,4.6421,0.0000,1.0000,11302.8500,16545.9141,13235.8732,13235.8732,NaN

In [47]:
df_enriched['pk'][0]

'0'

In [48]:
data_clientes_con_target.merge(df_enriched, how='inner', on='pk').shape

(13262, 155)

In [49]:
data_clientes_con_target['pk'].value_counts()

0        1
8845     1
8835     1
8836     1
8837     1
        ..
4423     1
4424     1
4425     1
4426     1
13261    1
Name: pk, Length: 13262, dtype: int64

In [50]:
df_enriquecido_total['pk'].value_counts()

2662     3
7416     3
7608     2
6983     2
7002     2
        ..
4474     1
4472     1
4476     1
4475     1
13261    1
Name: pk, Length: 13262, dtype: int64

In [51]:
df_enriquecido_total = data_clientes_con_target.merge(df_enriched, how='right', on='pk')
print(df_enriquecido_total.shape)
df_enriquecido_total.head()

(13262, 155)

,NoCliente,Nombre,FechaNacimiento,CURP,Calle,NumExt,Colonia,Ciudad,Estado,Email,Telefono,pk,Tasa_medio,Plazo_medio,Monto_medio,EstadoCivil,Default_90_dias_pers,personalData.identityDocument,personalData.fullname,personalData.gender,personalData.birthdate,personalData.age,personalData.email,personalData.phone,emailValidation.valid,emailValidation.email,emailValidation.domain,emailValidation.syntaxError,emailValidation.domainError,emailValidation.provider,emailValidation.disposable,emailValidation.freemail,emailVerification.verified,emailVerification.status,emailVerification.deferred,emailVerification.catchAll,phoneValidation.valid,phoneValidation.type,phoneValidation.internationalNumber,phoneValidation.localNumber,phoneValidation.country,phoneValidation.countryCode,phoneValidation.mobile,phoneVerification.verified,phoneVerification.status,phoneVerification.ported,phoneVerification.roaming,phoneVerification.imsi,phoneVerification.mcc,phoneVerification.mnc,phoneVerification.msin,phoneVerification.msc,phoneVerification.currentNetwork,phoneVerification.originNetwork,phoneVerification.portedNetwork,geoCheck.score,geoCheck.parsedAddress.level1,geoCheck.parsedAddress.level2,geoCheck.parsedAddress.sublevel3,geoCheck.parsedAddress.zipCode,geoCheck.parsedAddress.roadName,geoCheck.parsedAddress.roadNumber,geoCheck.parsedAddress.latitude,geoCheck.parsedAddress.longitude,geoCheck.parsedAddress.additionalData,geoCheck.cvegeos,economics.id,economics.rent,economics.typeTable,economics.personalData.dependency,economics.personalData.work,economics.personalData.possession,economics.personalData.levelStudy,economics.personalData.maritalStatus,economics.personalData.ageInterval,economics.personalData.ageIntervalMin,economics.personalData.ageIntervalMax,economics.personalData.probCouple,economics.personalData.probDegree,economics.personalData.probDivorced,economics.personalData.probDoctorate,economics.personalData.gender,economics.personalData.bossEducation,economics.personalData.probHighschool,economics.personalData.probMarried,economics.personalData.probMasters,economics.personalData.probNormal,economics.personalData.probNpLevels,economics.personalData.probNpMaritals,economics.personalData.probPreschool,economics.personalData.probPrimary,economics.personalData.probProfessional,economics.personalData.probSecondary,economics.personalData.probSeparated,economics.personalData.probSingle,economics.personalData.probWidower,economics.personalData.probWithoutStudies,economics.familyData.numberOfBabies,economics.familyData.numberOfChild,economics.familyData.numberOfDep,economics.familyData.numberOfDepYoung,economics.familyData.numberOfIndep,economics.familyData.numberOfIndepYoung,economics.familyData.numberOfParents,economics.familyData.numberOfYoungs,economics.familyData.typeMember,economics.housingData.car,economics.housingData.numberHouseholdCars,economics.housingData.numberHouseholdMembers,economics.housingData.numberHouseholdMembersNoOutliers,economics.housingData.numberHouseholdPickups,economics.housingData.numberHouseholdVans,economics.housingData.numberIncandescentLights,economics.housingData.numberLowConsumptionLights,economics.housingData.numberRooms,economics.housingData.bathShower,economics.housingData.bathShowerToilet,economics.housingData.housingMaterial,economics.housingData.housingType,economics.housingData.internetConnection,economics.housingData.locationSize,economics.housingData.codEntity,economics.housingData.codMunicipality,economics.housingData.codLocality,economics.housingData.latitude,economics.housingData.longitude,economics.householdEconomy.probSaving,economics.householdEconomy.probExpenseAlcoholAndTobacco,economics.householdEconomy.probExpenseClothesAndFootwear,economics.householdEconomy.probExpenseEducation,economics.householdEconomy.probExpenseFinancial,economics.householdEconomy.probExpenseFood,economics.householdEconomy.probExpenseHealthCare,economics.householdEconomy.probExpenseHealthInsurance,economics.householdEconomy.probExpenseHomeRepair,economics.householdEconomy.probExpenseHousesAndSupplies,economics.householdEconomy.probExpenseLeisure,economics.householdEconomy.probExpenseOthers,economics.householdEconomy.probExpensePurchaseExp,economics.householdEconomy.probExpenseRestaurants,economics.householdEconomy.probExpenseTelco,economics.householdEconomy.probExpenseTransport,economics.householdEconomy.probExpenses,economics.householdEconomy.incomeByRanges,economics.householdEconomy.homeNetIncome,economics.householdEconomy.effortRate,economics.householdEconomy.newEffortRate,economics.householdEconomy.povertyThreshold,economics.householdEconomy.deposit,economics.householdEconomy.sel,economics.modelV1IndividualIncome,economics.modelV2IndividualIncome,economics.rawIndividualIncome,economics.individualIncome,geoCheck.parsedAddress.roadType
0,48993,VIANNEY CHABLE MORA,2002-08-12,CAMV020812MMCHRNA2,MANUEL ALTAMIRANO,2,ARTESANOS,ESTADO DE MEXICO,ESTADO DE MEXICO,vianneychable001@gmail.com,5588825117,0,106.8000,12.0000,21600.0000,UNIÓN LIBRE,1,CAMV020812MMCHRNA2,VIANNEY CHABLE MORA,F,2002-08-12,20,vianneychable001@gmail.com,525588825117,True,vianneychable001@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,False,True,unknown,+525588825117,55 8882 5117,Mexico,MX,False,False,fixed-line,True,False,,,,,LANDLINE,CABLEMAS TELECOM,BESTPHONE s.a. de c.v,CABLEMAS TELECOM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,274775,EDWIN FERNANDO DEL CANTO FLORES,1991-08-21,CAFE910821HMCNLD08,AV PROMESAS,36,TEPETITLAN,ESTADO DE MEXICO,ESTADO DE MEXICO,edwin_delcanto@hotmail.com,5525527792,3,90.0000,15.0000,51380.0000,SOLTERO,0,CAFE910821HMCNLD08,EDWIN FERNANDO DEL CANTO FLORES,M,1991-08-21,31,edwin_delcanto@hotmail.com,525525527792,True,edwin_delcanto@hotmail.com,hotmail.com,False,False,hotmail.com,False,True,True,ok,False,False,True,unknown,+525525527792,55 2552 7792,Mexico,MX,False,True,ok,False,False,3340300000,334,030,,,movistar (Pegaso PCS),movistar (Pegaso PCS),,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,141508,FRANCISCO LOPEZ ROQUE,1957-10-21,LORF571021HCLPQR04,HIDALGO,1701,VICTORIA,NUEVO LAREDO,TAMAULIPAS,franciscolopezroque@gmail.com,8677414704,1,120.0000,12.0000,21440.0000,SOLTERO,0,LORF571021HCLPQR04,FRANCISCO LOPEZ ROQUE,M,1957-10-21,65,franciscolopezroque@gmail.com,528677414704,True,franciscolopezroque@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,False,True,unknown,+528677414704,867 741 4704,Mexico,MX,False,True,ok,False,False,3340208000,334,020,,181363,Telcel (Radiomovil Dipsa S.A.),Telcel (Radiomovil Dipsa S.A.),,4.0000,Tamaulipas,Nuevo Laredo,Nuevo Laredo Centro,88000,hidalgo,1701,27.4952,-99.4980,"[{'key': 'roadName', 'value': 'hidalgo'}, {'key': 'zipCode', 'value': '88000'}, {'key': 'longitude', 'value': '-99.49803299999999'}, {'key': 'entityName', 'value': 'Tamaulipas'}, {'key': 'entityCode', 'value': '28'}, {'key': 'localityName', 'value': 'Nuevo Laredo Centro'}, {'key': 'entityShort', 'value': 'TS'}, {'key': 'municipalityCode', 'value': '027'}, {'key': 'roadNumber', 'value': '1701'}...",[280270001110A028],6987.0000,800.0000,4.0000,False,0.8889,2.0000,2.0000,2.0000,56-65,56.0000,65.0000,0.0000,0.0000,0.0000,0.0000,M,3.0000,0.0000,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.5714,0.0000,0.2000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,3.0000,2.0000,0.0000,0.0000,2.0000,2.0000,3.0000,0.0000,0.0000,2.0000,1.0000,2.0000,4.0000,28,027,0001,27.4952,-99.4980,0.5697,0.0000,0.0187,0.0000,0.0000,0.3886,0.0708,0.0000,0.0000,0.1392,0.0000,0.0000,0.0000,0.0000,0.0227,0.0762,0.4303,1.0000,7334.1267,0.0815,0.1654,3.0116,0.0000,1.0000,14664.2400,20491.7480,15896.6349,15896.6349,NaN
3,172718,MA DEL PILAR FLORES SERAFIN,1953-10-12,FOSP531012MMCLRL00,CLL LEONA VICARIO,34,SAN VICENTE CHICOLOAPAN DE JUÁREZ CENTRO,CHICOLOAPAN,ESTADO DE MÉXICO,jorgemilan1971@gmail.com,5585041612,2,106.8000,7.0000,22050.0000,VIUDO,0,FOSP531012MMCLRL00,MA DEL PILAR FLORES SERAFIN,F,1953-10-12,69,jorgemilan1971@gmail.com,525585041612,True,jorgemilan1971@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,False,True,unknown,+525585041612,55 8504 1612,Mexico,MX,False,True,ok,True,False,3341400000,334,140,,,Altan,AT&T Mexico (Nextel & Iusacell),Altan,5.0000,México,Chimalhuacán,Chimalhuacán,56338,cll leona vicario,34,NaN,NaN,"[{'key': 'municipalityCode', 'value': '031'}, {'key': 'municipalityName', 'value': 'Chimalhuacán'}, {'key': 'roadName', 'value': 'cll leona vicario'}, {'key': 'roadNumber', 'value': '34'}, {'key': 'zipCode', 'value': '56338'}, {'key': 'entityShort', 'value': 'MC'}, {'key': 'entityName', 'value': 'México'}, {'key': 'localityName', 'value': 'Chimalhuacán'}, {'key': 'entityCode', 'value': '15'}]","[1503100011463025, 1503100011463015]",7865.0000,1450.0000,1.0000,True,0.2000,2.0000,2.0000,5.0000,>65,66.0000,200.0000,0.1111,0.0000,0.0000,0.0000,F,3.0000,0.0000,0.2222,0.0000,0.0000,0.0000,0.0000,0.0000,0.5556,0.0000,0.0000,0.1111,0.0000,0.5556,0.4444,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,3.0000,1.0000,0.0000,0.0000,1.0000,4.0000,3.0000,0.0000,0.0000,2.0000,1.0000,2.0000,1.0000,15,031,0001,NaN,NaN,0.3137,0.0000,0.0027,0.0000,0.0000,0.3989,0.0656,0.0000,0.0000,0.2197,0.0000,0.0000,0.0000,0.0080,0.0173,0.0271,0.6863,1.0000,5398.4983,0.1631,0.4603,1.7233,0.0000,2.0000,12720.1900,16452.2910,12602.8606,12602.8606,NaN
4,784419,SERAFIN MARTINES MORENO,1981-10-12,MAMS811012HGRRRR00,C PONIENTE 21 MZ 55,lt 8,SAN MIGUEL XICO,VALLE DE CHALCO SOLIDARIDAD,ESTADO DE MÉXICO,serafinmartinezmoreno@gmail.com,5625793595,5,120.0000,9.0000,16350.0000,CASADO,0,MAMS811012HGRRRR00,SERAFIN MARTINES MORENO,M,1981-10-12,41,serafinmartinezmoreno@gmail.com,525625793595,True,serafinmartinezmoreno@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,False,True,unknown,+525625793595,56 2579 3595,Mexico,MX,False,True,ok,False,False,3340500000,334,050,,,AT&T Mexico (Nextel & Iusacell),AT&T Mexico (Nextel & Iusacell),,4.0000,México,Valle de Chalco Solidaridad,Valle de Chalco Solidaridad,56619,c poniente,21,19.3070,-98.9424,"[{'key': 'longitude', 'value': '-98.94243'}, {'key': 'zipCode', 'value': '56619'}, {'key': 'entityShort', 'value': 'MC'}, {'key': 'square', 'value': '55'}, {'key': 'localityName', 'value': 'Valle de Chalco Solidaridad'}, {'key': 'latitude', 'value': '19.30696'}, {'key': 'entityCode', 'value': '15'}, {'key': 'municipalityCode', 'value': '122'}, {'key': 'municipalityName', 'value': 'Valle de Cha...",[1512200010688028],6059.0000,1100.0000,4.0000,False,1.0000,2.0000,3.0000,2.0000,36-45,36.0000,45.0000,0.3167,0.0000,0.0000,0.0000,M,4.0000,0.0000,0.6000,0.0000,0.0000,0.0000,0.0000,0.0000,0.4000,0.0000,0.3667,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,0.0000,2.0000,0.0000,2.0000,1.0000,1.0000,0.0000,0.0000,4.0000,5.0000,0.0000,0.0000,1.0000,3.0000,4.0000,0.0000,0.0000,2.0000,1.0000,2.0000,4.0000,15,122,0001,19.3070,-98.9424,0.3434,0.0000,0.0331,0.0377,0.0000,0.3728,0.0617,0.0000,0.0000,0.0998,0.0000,0.0000,0.0000,0.0311,0.0203,0.1364,0.6566,1.0000,9785.7150,0.0595,0.3365,4.6421,0.0000,1.0000,11302.8500,16545.9141,13235.8732,13235.8732,NaN

In [52]:
df_enriquecido_total.drop(columns=['geoCheck.parsedAddress.additionalData','geoCheck.cvegeos'], inplace=True)

In [53]:
pd.set_option('display.max_rows', None)
get_col_feats(df_enriquecido_total)

100%|██████████| 153/153 [00:00<00:00, 469.82it/s]

In [54]:
for col in df_enriquecido_total.columns:
    if df_enriquecido_total[col].nunique() == 1:
        print(col)
        df_enriquecido_total = df_enriquecido_total.drop(columns=col)

emailVerification.deferred
phoneValidation.type
phoneValidation.country
phoneValidation.countryCode
phoneValidation.mobile
phoneVerification.roaming
phoneVerification.msin

In [55]:
print(df_enriquecido_total.shape)
df_enriquecido_total.head(1)

(13262, 146)

,NoCliente,Nombre,FechaNacimiento,CURP,Calle,NumExt,Colonia,Ciudad,Estado,Email,Telefono,pk,Tasa_medio,Plazo_medio,Monto_medio,EstadoCivil,Default_90_dias_pers,personalData.identityDocument,personalData.fullname,personalData.gender,personalData.birthdate,personalData.age,personalData.email,personalData.phone,emailValidation.valid,emailValidation.email,emailValidation.domain,emailValidation.syntaxError,emailValidation.domainError,emailValidation.provider,emailValidation.disposable,emailValidation.freemail,emailVerification.verified,emailVerification.status,emailVerification.catchAll,phoneValidation.valid,phoneValidation.internationalNumber,phoneValidation.localNumber,phoneVerification.verified,phoneVerification.status,phoneVerification.ported,phoneVerification.imsi,phoneVerification.mcc,phoneVerification.mnc,phoneVerification.msc,phoneVerification.currentNetwork,phoneVerification.originNetwork,phoneVerification.portedNetwork,geoCheck.score,geoCheck.parsedAddress.level1,geoCheck.parsedAddress.level2,geoCheck.parsedAddress.sublevel3,geoCheck.parsedAddress.zipCode,geoCheck.parsedAddress.roadName,geoCheck.parsedAddress.roadNumber,geoCheck.parsedAddress.latitude,geoCheck.parsedAddress.longitude,economics.id,economics.rent,economics.typeTable,economics.personalData.dependency,economics.personalData.work,economics.personalData.possession,economics.personalData.levelStudy,economics.personalData.maritalStatus,economics.personalData.ageInterval,economics.personalData.ageIntervalMin,economics.personalData.ageIntervalMax,economics.personalData.probCouple,economics.personalData.probDegree,economics.personalData.probDivorced,economics.personalData.probDoctorate,economics.personalData.gender,economics.personalData.bossEducation,economics.personalData.probHighschool,economics.personalData.probMarried,economics.personalData.probMasters,economics.personalData.probNormal,economics.personalData.probNpLevels,economics.personalData.probNpMaritals,economics.personalData.probPreschool,economics.personalData.probPrimary,economics.personalData.probProfessional,economics.personalData.probSecondary,economics.personalData.probSeparated,economics.personalData.probSingle,economics.personalData.probWidower,economics.personalData.probWithoutStudies,economics.familyData.numberOfBabies,economics.familyData.numberOfChild,economics.familyData.numberOfDep,economics.familyData.numberOfDepYoung,economics.familyData.numberOfIndep,economics.familyData.numberOfIndepYoung,economics.familyData.numberOfParents,economics.familyData.numberOfYoungs,economics.familyData.typeMember,economics.housingData.car,economics.housingData.numberHouseholdCars,economics.housingData.numberHouseholdMembers,economics.housingData.numberHouseholdMembersNoOutliers,economics.housingData.numberHouseholdPickups,economics.housingData.numberHouseholdVans,economics.housingData.numberIncandescentLights,economics.housingData.numberLowConsumptionLights,economics.housingData.numberRooms,economics.housingData.bathShower,economics.housingData.bathShowerToilet,economics.housingData.housingMaterial,economics.housingData.housingType,economics.housingData.internetConnection,economics.housingData.locationSize,economics.housingData.codEntity,economics.housingData.codMunicipality,economics.housingData.codLocality,economics.housingData.latitude,economics.housingData.longitude,economics.householdEconomy.probSaving,economics.householdEconomy.probExpenseAlcoholAndTobacco,economics.householdEconomy.probExpenseClothesAndFootwear,economics.householdEconomy.probExpenseEducation,economics.householdEconomy.probExpenseFinancial,economics.householdEconomy.probExpenseFood,economics.householdEconomy.probExpenseHealthCare,economics.householdEconomy.probExpenseHealthInsurance,economics.householdEconomy.probExpenseHomeRepair,economics.householdEconomy.probExpenseHousesAndSupplies,economics.householdEconomy.probExpenseLeisure,economics.householdEconomy.probExpenseOthers,economics.householdEconomy.probExpensePurchaseExp,economics.householdEconomy.probExpenseRestaurants,economics.householdEconomy.probExpenseTelco,economics.householdEconomy.probExpenseTransport,economics.householdEconomy.probExpenses,economics.householdEconomy.incomeByRanges,economics.householdEconomy.homeNetIncome,economics.householdEconomy.effortRate,economics.householdEconomy.newEffortRate,economics.householdEconomy.povertyThreshold,economics.householdEconomy.deposit,economics.householdEconomy.sel,economics.modelV1IndividualIncome,economics.modelV2IndividualIncome,economics.rawIndividualIncome,economics.individualIncome,geoCheck.parsedAddress.roadType
0,48993,VIANNEY CHABLE MORA,2002-08-12,CAMV020812MMCHRNA2,MANUEL ALTAMIRANO,2,ARTESANOS,ESTADO DE MEXICO,ESTADO DE MEXICO,vianneychable001@gmail.com,5588825117,0,106.8000,12.0000,21600.0000,UNIÓN LIBRE,1,CAMV020812MMCHRNA2,VIANNEY CHABLE MORA,F,2002-08-12,20,vianneychable001@gmail.com,525588825117,True,vianneychable001@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,True,+525588825117,55 8882 5117,False,fixed-line,True,,,,LANDLINE,CABLEMAS TELECOM,BESTPHONE s.a. de c.v,CABLEMAS TELECOM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df_enriquecido_total.to_csv('gs://hocelot_mx_analytics/mexico/progress/mx-00007-Came/data_Came_post_enrich_con_target_v0.csv',sep=';', index=False)

In [57]:
print(df_enriquecido_total.shape)
df_enriquecido_total.head()

(13262, 146)

,NoCliente,Nombre,FechaNacimiento,CURP,Calle,NumExt,Colonia,Ciudad,Estado,Email,Telefono,pk,Tasa_medio,Plazo_medio,Monto_medio,EstadoCivil,Default_90_dias_pers,personalData.identityDocument,personalData.fullname,personalData.gender,personalData.birthdate,personalData.age,personalData.email,personalData.phone,emailValidation.valid,emailValidation.email,emailValidation.domain,emailValidation.syntaxError,emailValidation.domainError,emailValidation.provider,emailValidation.disposable,emailValidation.freemail,emailVerification.verified,emailVerification.status,emailVerification.catchAll,phoneValidation.valid,phoneValidation.internationalNumber,phoneValidation.localNumber,phoneVerification.verified,phoneVerification.status,phoneVerification.ported,phoneVerification.imsi,phoneVerification.mcc,phoneVerification.mnc,phoneVerification.msc,phoneVerification.currentNetwork,phoneVerification.originNetwork,phoneVerification.portedNetwork,geoCheck.score,geoCheck.parsedAddress.level1,geoCheck.parsedAddress.level2,geoCheck.parsedAddress.sublevel3,geoCheck.parsedAddress.zipCode,geoCheck.parsedAddress.roadName,geoCheck.parsedAddress.roadNumber,geoCheck.parsedAddress.latitude,geoCheck.parsedAddress.longitude,economics.id,economics.rent,economics.typeTable,economics.personalData.dependency,economics.personalData.work,economics.personalData.possession,economics.personalData.levelStudy,economics.personalData.maritalStatus,economics.personalData.ageInterval,economics.personalData.ageIntervalMin,economics.personalData.ageIntervalMax,economics.personalData.probCouple,economics.personalData.probDegree,economics.personalData.probDivorced,economics.personalData.probDoctorate,economics.personalData.gender,economics.personalData.bossEducation,economics.personalData.probHighschool,economics.personalData.probMarried,economics.personalData.probMasters,economics.personalData.probNormal,economics.personalData.probNpLevels,economics.personalData.probNpMaritals,economics.personalData.probPreschool,economics.personalData.probPrimary,economics.personalData.probProfessional,economics.personalData.probSecondary,economics.personalData.probSeparated,economics.personalData.probSingle,economics.personalData.probWidower,economics.personalData.probWithoutStudies,economics.familyData.numberOfBabies,economics.familyData.numberOfChild,economics.familyData.numberOfDep,economics.familyData.numberOfDepYoung,economics.familyData.numberOfIndep,economics.familyData.numberOfIndepYoung,economics.familyData.numberOfParents,economics.familyData.numberOfYoungs,economics.familyData.typeMember,economics.housingData.car,economics.housingData.numberHouseholdCars,economics.housingData.numberHouseholdMembers,economics.housingData.numberHouseholdMembersNoOutliers,economics.housingData.numberHouseholdPickups,economics.housingData.numberHouseholdVans,economics.housingData.numberIncandescentLights,economics.housingData.numberLowConsumptionLights,economics.housingData.numberRooms,economics.housingData.bathShower,economics.housingData.bathShowerToilet,economics.housingData.housingMaterial,economics.housingData.housingType,economics.housingData.internetConnection,economics.housingData.locationSize,economics.housingData.codEntity,economics.housingData.codMunicipality,economics.housingData.codLocality,economics.housingData.latitude,economics.housingData.longitude,economics.householdEconomy.probSaving,economics.householdEconomy.probExpenseAlcoholAndTobacco,economics.householdEconomy.probExpenseClothesAndFootwear,economics.householdEconomy.probExpenseEducation,economics.householdEconomy.probExpenseFinancial,economics.householdEconomy.probExpenseFood,economics.householdEconomy.probExpenseHealthCare,economics.householdEconomy.probExpenseHealthInsurance,economics.householdEconomy.probExpenseHomeRepair,economics.householdEconomy.probExpenseHousesAndSupplies,economics.householdEconomy.probExpenseLeisure,economics.householdEconomy.probExpenseOthers,economics.householdEconomy.probExpensePurchaseExp,economics.householdEconomy.probExpenseRestaurants,economics.householdEconomy.probExpenseTelco,economics.householdEconomy.probExpenseTransport,economics.householdEconomy.probExpenses,economics.householdEconomy.incomeByRanges,economics.householdEconomy.homeNetIncome,economics.householdEconomy.effortRate,economics.householdEconomy.newEffortRate,economics.householdEconomy.povertyThreshold,economics.householdEconomy.deposit,economics.householdEconomy.sel,economics.modelV1IndividualIncome,economics.modelV2IndividualIncome,economics.rawIndividualIncome,economics.individualIncome,geoCheck.parsedAddress.roadType
0,48993,VIANNEY CHABLE MORA,2002-08-12,CAMV020812MMCHRNA2,MANUEL ALTAMIRANO,2,ARTESANOS,ESTADO DE MEXICO,ESTADO DE MEXICO,vianneychable001@gmail.com,5588825117,0,106.8000,12.0000,21600.0000,UNIÓN LIBRE,1,CAMV020812MMCHRNA2,VIANNEY CHABLE MORA,F,2002-08-12,20,vianneychable001@gmail.com,525588825117,True,vianneychable001@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,True,+525588825117,55 8882 5117,False,fixed-line,True,,,,LANDLINE,CABLEMAS TELECOM,BESTPHONE s.a. de c.v,CABLEMAS TELECOM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,274775,EDWIN FERNANDO DEL CANTO FLORES,1991-08-21,CAFE910821HMCNLD08,AV PROMESAS,36,TEPETITLAN,ESTADO DE MEXICO,ESTADO DE MEXICO,edwin_delcanto@hotmail.com,5525527792,3,90.0000,15.0000,51380.0000,SOLTERO,0,CAFE910821HMCNLD08,EDWIN FERNANDO DEL CANTO FLORES,M,1991-08-21,31,edwin_delcanto@hotmail.com,525525527792,True,edwin_delcanto@hotmail.com,hotmail.com,False,False,hotmail.com,False,True,True,ok,False,True,+525525527792,55 2552 7792,True,ok,False,3340300000,334,030,,movistar (Pegaso PCS),movistar (Pegaso PCS),,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,141508,FRANCISCO LOPEZ ROQUE,1957-10-21,LORF571021HCLPQR04,HIDALGO,1701,VICTORIA,NUEVO LAREDO,TAMAULIPAS,franciscolopezroque@gmail.com,8677414704,1,120.0000,12.0000,21440.0000,SOLTERO,0,LORF571021HCLPQR04,FRANCISCO LOPEZ ROQUE,M,1957-10-21,65,franciscolopezroque@gmail.com,528677414704,True,franciscolopezroque@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,True,+528677414704,867 741 4704,True,ok,False,3340208000,334,020,181363,Telcel (Radiomovil Dipsa S.A.),Telcel (Radiomovil Dipsa S.A.),,4.0000,Tamaulipas,Nuevo Laredo,Nuevo Laredo Centro,88000,hidalgo,1701,27.4952,-99.4980,6987.0000,800.0000,4.0000,False,0.8889,2.0000,2.0000,2.0000,56-65,56.0000,65.0000,0.0000,0.0000,0.0000,0.0000,M,3.0000,0.0000,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.5714,0.0000,0.2000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,3.0000,2.0000,0.0000,0.0000,2.0000,2.0000,3.0000,0.0000,0.0000,2.0000,1.0000,2.0000,4.0000,28,027,0001,27.4952,-99.4980,0.5697,0.0000,0.0187,0.0000,0.0000,0.3886,0.0708,0.0000,0.0000,0.1392,0.0000,0.0000,0.0000,0.0000,0.0227,0.0762,0.4303,1.0000,7334.1267,0.0815,0.1654,3.0116,0.0000,1.0000,14664.2400,20491.7480,15896.6349,15896.6349,NaN
3,172718,MA DEL PILAR FLORES SERAFIN,1953-10-12,FOSP531012MMCLRL00,CLL LEONA VICARIO,34,SAN VICENTE CHICOLOAPAN DE JUÁREZ CENTRO,CHICOLOAPAN,ESTADO DE MÉXICO,jorgemilan1971@gmail.com,5585041612,2,106.8000,7.0000,22050.0000,VIUDO,0,FOSP531012MMCLRL00,MA DEL PILAR FLORES SERAFIN,F,1953-10-12,69,jorgemilan1971@gmail.com,525585041612,True,jorgemilan1971@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,True,+525585041612,55 8504 1612,True,ok,True,3341400000,334,140,,Altan,AT&T Mexico (Nextel & Iusacell),Altan,5.0000,México,Chimalhuacán,Chimalhuacán,56338,cll leona vicario,34,NaN,NaN,7865.0000,1450.0000,1.0000,True,0.2000,2.0000,2.0000,5.0000,>65,66.0000,200.0000,0.1111,0.0000,0.0000,0.0000,F,3.0000,0.0000,0.2222,0.0000,0.0000,0.0000,0.0000,0.0000,0.5556,0.0000,0.0000,0.1111,0.0000,0.5556,0.4444,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,3.0000,1.0000,0.0000,0.0000,1.0000,4.0000,3.0000,0.0000,0.0000,2.0000,1.0000,2.0000,1.0000,15,031,0001,NaN,NaN,0.3137,0.0000,0.0027,0.0000,0.0000,0.3989,0.0656,0.0000,0.0000,0.2197,0.0000,0.0000,0.0000,0.0080,0.0173,0.0271,0.6863,1.0000,5398.4983,0.1631,0.4603,1.7233,0.0000,2.0000,12720.1900,16452.2910,12602.8606,12602.8606,NaN
4,784419,SERAFIN MARTINES MORENO,1981-10-12,MAMS811012HGRRRR00,C PONIENTE 21 MZ 55,lt 8,SAN MIGUEL XICO,VALLE DE CHALCO SOLIDARIDAD,ESTADO DE MÉXICO,serafinmartinezmoreno@gmail.com,5625793595,5,120.0000,9.0000,16350.0000,CASADO,0,MAMS811012HGRRRR00,SERAFIN MARTINES MORENO,M,1981-10-12,41,serafinmartinezmoreno@gmail.com,525625793595,True,serafinmartinezmoreno@gmail.com,gmail.com,False,False,gmail.com,False,True,True,ok,False,True,+525625793595,56 2579 3595,True,ok,False,3340500000,334,050,,AT&T Mexico (Nextel & Iusacell),AT&T Mexico (Nextel & Iusacell),,4.0000,México,Valle de Chalco Solidaridad,Valle de Chalco Solidaridad,56619,c poniente,21,19.3070,-98.9424,6059.0000,1100.0000,4.0000,False,1.0000,2.0000,3.0000,2.0000,36-45,36.0000,45.0000,0.3167,0.0000,0.0000,0.0000,M,4.0000,0.0000,0.6000,0.0000,0.0000,0.0000,0.0000,0.0000,0.4000,0.0000,0.3667,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,0.0000,2.0000,0.0000,2.0000,1.0000,1.0000,0.0000,0.0000,4.0000,5.0000,0.0000,0.0000,1.0000,3.0000,4.0000,0.0000,0.0000,2.0000,1.0000,2.0000,4.0000,15,122,0001,19.3070,-98.9424,0.3434,0.0000,0.0331,0.0377,0.0000,0.3728,0.0617,0.0000,0.0000,0.0998,0.0000,0.0000,0.0000,0.0311,0.0203,0.1364,0.6566,1.0000,9785.7150,0.0595,0.3365,4.6421,0.0000,1.0000,11302.8500,16545.9141,13235.8732,13235.8732,NaN